/* Element Selector (Tag Selector) */
body {
  /* 글자의 굵기 정도를 조절. (100 ~ 900 (100단위)) */
  font-weight: 100;
}
div {
  /* 글자 색상 */
  color: #00f;
  /* 글자 크기 조정 */
  font-size: 2rem;
  /* 박스의 배경색 조정 */
  background-color: #ff0;
}
