body {
  background-color: #f3f3f3;
}

span {
  /* inline --> width, height 지정 불가 */

  border: 1px solid #000;
}

.navigation-item {
  display: inline-block;
  padding: 10px;
  margin: 2px;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
}
