body {
  margin: 0;
}

.grid {
  width: 70vw;
  height: 70vh;

  padding: 5px;
  border: 1px solid black;
  margin: 15vh 15vw;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;

  & > div {
    border: 1px solid black;
  }

  & > .merge-yellow {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: yellow;
  }

  & > .merge-blue {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background-color: blue;
  }

  & > .merge-green {
    grid-column: 4 / 6;
    grid-row: 3 / 5;
    background-color: green;
  }

  & > .merge-red {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    background-color: red;
  }
}
